In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('C:\\Users\jinma\Downloads\챗봇지식_차도리FAQ_20191205_(391건)_보안해제.csv')

In [9]:
df.loc[0, ['질문', '답변']]

질문    우리아이특약을 가입 중 아이가 스쿨존 내에서 유치원 버스를 타고 있다가 사고가 난 ...
답변    스쿨존 특약은 스쿨존에서 보행중 사고시 보상되는데 탑승 중 사고라 보상되지 않습니다...
Name: 0, dtype: object

In [12]:
df.업무선택.value_counts()

07.자동차보상       164
06.자동차보험       148
10.홈페이지/모바일     37
04.장기보험금청구      19
08.장기보험         16
09.고객            4
00.공통            2
01.보험계약조회        1
Name: 업무선택, dtype: int64

In [14]:
df[df.업무선택 == '01.보험계약조회']

,지식No,유형,업무선택,하위유형 입력,질문,"태그(구분자 , #필요)",답변,기능연결,답변유형,비고,1차검토의견,재검토완료,검토부서,검토결과
44,550,스마트차도리FAQ,01.보험계약조회,가입내역,보험사에 가입된 내역을 한번에 확인해볼 조회하려면 어떻게 하나요?,#가입내역#계약조회,손해생명보험협회를 통해 타 보험회사에 가입되어 있는 보험계약을 확인하실 수 있습니다...,NaN,텍스트,NaN,NaN,NaN,장기계약관리파트&\n자보상품업무파트,NaN

In [20]:
df[df.업무선택 == '10.홈페이지/모바일']['하위유형 입력'].value_counts()

인증서      17
기타문의      6
회원        5
로그인       3
이벤트       3
공인인증서     1
기타        1
포인트       1
Name: 하위유형 입력, dtype: int64

In [33]:
df.groupby(['업무선택', '하위유형 입력'])['지식No'].count().reset_index()

            업무선택   하위유형 입력  지식No
0          00.공통        공통     1
1          00.공통     서비스센터     1
2      01.보험계약조회      가입내역     1
3     04.장기보험금청구  개인정보활용동의     1
4     04.장기보험금청구      견인비용     1
..           ...       ...   ...
179  10.홈페이지/모바일       로그인     3
180  10.홈페이지/모바일       이벤트     3
181  10.홈페이지/모바일       인증서    17
182  10.홈페이지/모바일       포인트     1
183  10.홈페이지/모바일        회원     5

[184 rows x 3 columns]

# 질문을 확장할 방법은?
- NLG
- 다른 표현들을 STT 데이터에서 획득 (유사도 혹은 Topic을 평가하여 수집)