In [11]:
import numpy as np
import pandas as pd
import torch
from torch.utils.data import Dataset, DataLoader
from torch.optim import Adam
import torch.nn.functional as F

In [3]:
train_df = pd.read_csv('./nsmc/ratings_train.txt', sep='\t')
test_df = pd.read_csv('./nsmc/ratings_test.txt', sep='\t')

train_df.dropna(inplace=True)
test_df.dropna(inplace=True)

train_df = train_df.sample(frac=0.4, random_state=999)
test_df = test_df.sample(frac=0.4, random_state=999)

In [4]:
train_df.shape

(59998, 3)

In [5]:
test_df.shape

(19999, 3)

In [9]:
train_df.head()

             id                                           document  label
103096  1269448                이 영화(제작과정포함)를 접한 후 결론 → 샤론스톤은 쓰레기다.      0
4038    9867479                                  넘 멋져열. 몇번씩 보게되는~~      1
135345  9924513  호러 공포영화 정말 좋아해서 거의 다 봤어요. 최근 본 공포물중 최고입니다. 쫄깃쫄...      1
119472  7074014                                         웃으면서 잘 봤네요      1
64192   8359338  어음...이거 다 보고 딱 생각난대사가 ...뭐지...? 왜 이렇게 갑자기 끝나? ...      0

In [10]:
test_df.head()

             id                             document  label
40821  10097178                        명불허전 선동영화 10자      0
6654    9964664  사랑의 위대함과 아름다움을 완벽히 담아낸 영화 왜 이제 봤을까?      1
39722   9688343                         보고나서 또 생각난다.      1
35661   7418688                            아...진짜...      0
13250   6395675                       난 이게 왜케 재밌었지..      1